@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-family: $base-font;
  font-size: $base-font-size;
  height: 100%;
}

body { height: 100%; }

main {
  position: relative;
}

h1, h2, h3, h4, h5, h6 { margin: 0; font-family: 'Lobster'; }

.section-heading {
  h2 {
    font-size: 32px;
    letter-spacing: 2px;
  }
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; line-height: 18px; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

main {
  background: $gray-bg;
}

.row {
  display: flex;
  width: 100%;
  position: relative;
}

// BEGIN TEXT COLORS
.green-text {
  color: $green;
}

.white-text {
  color: $white;
}

.dark-text {
  color: $light-black;
}
// END TEXT COLORS

// BEGIN BG COLORS
.white-bg {
  background-color: $white;
}

.green-bg {
  background-color: $green;
}

.dark-bg {
  background: $light-black;
}
// END BG COLORS

//Модули
@import "modules/modules";
