header.header
  .nav.header__nav
    //- BEGIN LOGO BLOCK
    .nav__logo-wr
      a.nav__logo-link(href="/")
        include ../../../static/images/logo.svg
    //- END LOGO BLOCK

    //- BEGIN NAVIGATION AND LANGUAGE SWITCHER
    .nav__controls-wr
      //- begin navigation
      nav.nav__nav
        ul
          li
            a(href="/") Головна
          li
            a(href="/") ГАЛЕРЕЯ
          li
            a(href="/") послуги
          li
            a(href="/") МЕНЮ
          li
            a(href="/") Відгуки
          li
            a(href="/") Новини та Акції
          li
            a(href="/") Контакти
      //- end navigation

      //- begin language switcher

      //- end language switcher
    //- END NAVIGATION AND LANGUAGE SWITCHER