section.why#why
  .container
    .section-heading.why__heading
      h2 Чому саме ми?) <span class="green-text">Все просто!</span>
    .why__content
      .why__item
        include ../../static/images/why/item-1.svg
        h3.why__item-title Безкоштовний дитчий<br>мейданчик
      .why__item
        include ../../static/images/why/item-2.svg
        h3.why__item-title Унікальний дизайн в<br>стилі ліфта
      .why__item
        include ../../static/images/why/item-3.svg
        h3.why__item-title Безкоштовний доступ<br>до WI-FI
      .why__item
        include ../../static/images/why/item-4.svg
        h3.why__item-title Найрізноманітніша та<br>найсмачніша кухня