aside.menu-aside.menu-page__aside#home-menu
  nav.menu-aside__wr
    select#menuNav.menu-aside__mobile
      option ХОЛОДНІ ТА ГАРЯЧІ ЗАКУСКИ
      option САЛАТИ
      option ПЕРШІ СТРАВИ
      option ІТАЛІЙСЬКА ПАСТА
      option ГАРНІРИ
      option ОСНОВНІ СТРАВИ
      option СТРАВИ ДЛЯ КОМПАНІЇ
      option ДЕСЕРТИ
      option кава/чай
      option алкогольні напої
      option безалкогольні напої
    ul.menu-aside__list
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ХОЛОДНІ ТА ГАРЯЧІ <br>ЗАКУСКИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span САЛАТИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ПЕРШІ СТРАВИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ІТАЛІЙСЬКА ПАСТА
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ГАРНІРИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ОСНОВНІ СТРАВИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span СТРАВИ ДЛЯ КОМПАНІЇ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span ДЕСЕРТИ
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span кава/чай
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span алкогольні напої
      li.menu-aside__item
        a.menu-aside__link(href="/")
          include ../../static/images/menu-page/menu-icon.svg
          span безалкогольні <br>напої

section.menu.menu-page__content
  article.menu-item.menu__item
    .menu-item__container
      .menu-item__img-wr
        img(src="./static/images/menu-page/item-1.png", alt="ALT")
      .menu-item__content
        h3.menu-item__title Спагетті Карбонара
        .menu-item__desc
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  
  article.menu-item.menu__item
    .menu-item__container
      .menu-item__img-wr
        img(src="./static/images/menu-page/item-2.png", alt="ALT")
      .menu-item__content
        h3.menu-item__title Паста Болоньезе
        .menu-item__desc
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  
  article.menu-item.menu__item
    .menu-item__container
      .menu-item__img-wr
        img(src="./static/images/menu-page/item-3.png", alt="ALT")
      .menu-item__content
        h3.menu-item__title Паста Вегетаріано
        .menu-item__desc
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  
  article.menu-item.menu__item
    .menu-item__container
      .menu-item__img-wr
        img(src="./static/images/menu-page/item-4.png", alt="ALT")
      .menu-item__content
        h3.menu-item__title Футучіні з шпинатно<br>вершковим<br>соусом та лососем
        .menu-item__desc
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

.home-reviews__scroll-down.scroll-down.top
  a.scroll-down__link(href="#top")
    .scroll-down__icon
      include ../../static/images/scroll-down.svg
    .scroll-down__line
      span