extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ./modules/why.pug
	include ./modules/about.pug
	include ./modules/home-menu.pug
	include ./modules/lift-rest.pug
	include ./modules/home-news.pug
	include ./modules/lift-rest.pug