// BEGIN COLORS
$white: #ffffff;
$black: #000000;
$green: #83BE42;
$gray-bg: #EFEBE7;
$light-black: #1B1A19;
$gray: rgba(27, 26, 25, 1);
// END COLORS

// Sizes
$base-font-size: 15px;

// Fonts
$base-font: 'Montserrat';